fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]
bootstrap-icons
jwt-decode bootstrap
pip install pydantic[email]
pip install fastapi uvicorn
pip install python-multipart

